<a href="https://colab.research.google.com/github/Caramel96/Samuel_BuckbyCE888/blob/main/lab_4%20/%20My_reccomender_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import operator

In [3]:
df_xls = pd.ExcelFile('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true')

In [4]:
df_xls.sheet_names

['Items', 'Users']

In [28]:
df_items = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true')
df_users = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true', sheet_name=1)

In [29]:
df_items.head()

   Movie ID  ...  Factor15
0        11  ... -0.248806
1        12  ...  1.274993
2        13  ... -0.419092
3        14  ... -0.681191
4        22  ... -2.292566

[5 rows x 17 columns]

In [30]:
df_users.head()

   User   Factor1   Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
0  4768 -0.204024  0.161079 -0.090447  ...  0.355404  0.007108 -0.118663 -0.039125
1   156 -0.189652 -0.178979 -0.091490  ... -0.048606  0.045916  0.113671  0.179873
2  5323 -0.115308 -0.090886 -0.053129  ... -0.019460  0.108372  0.054471 -0.109552
3   174 -0.227462 -0.272532 -0.017231  ... -0.082396  0.036767 -0.165438  0.050692
4  4529 -0.014616 -0.102218 -0.107935  ... -0.132836 -0.039897  0.129063  0.102669

[5 rows x 16 columns]

In [31]:
df_users.set_index('User', inplace=True)

In [32]:
df_items.set_index('Movie ID', inplace=True)

In [42]:
df_items.loc[5503, 'Factor15']

-0.01978813701887213

In [35]:
df_items[df_items['Factor15'] == df_items['Factor15'].max()]

                               Title   Factor1  ...  Factor14  Factor15
Movie ID                                        ...
604       The Matrix Reloaded (2003)  0.503414  ...  0.748458  2.120907

[1 rows x 16 columns]

In [33]:
items_latent = df_items.drop('Title', axis=1).values

In [36]:
user_latent = df_users.values

In [37]:
def predict_movie_rating(user, movie):
  user_arr = df_users.loc[user].values
  movie_arr = df_items.loc[movie].drop('Title').values
  return user_arr.dot(movie_arr)

In [38]:
def top_n_recommendation(user, n):
  pred = {}
  for movie in df_items.index:
    pred[movie] = predict_movie_rating(user, movie)
  pred = dict(sorted(pred.items(), key=lambda kv: kv[1], reverse=True))
  movies = list(pred.keys())
  return movies[:n]

In [40]:
predict_movie_rating(4433, 2502)

1.4561133282190488

In [39]:
predict_movie_rating(525, 640)

0.15087936024954365

In [43]:
top_n_recommendation(525, 3)

[98, 597, 453]

In [45]:
top_n_recommendation(3048, 2)

[24, 603]